{% block sidebar %}
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
            <div class="card my-4">
                <h5 class="card-header"></h5>
                <div class="card-body">
                <div style="float:center;">
                    <script type="text/javascript">
                    var bannersnack_embed = {"hash":"bc5yt2gyn","width":300,"height":250,"t":1569967348,"userId":22335841,"type":"html5"};
                    </script>
                    <script type="text/javascript" src="//cdn.bannersnack.com/iframe/embed.js"></script>
                </div>
                </div>
            </div>
        </div>

{% endblock sidebar %}
